.gp__preference{
    width: 100%;
    height: 100%;
    display: flex;

    .preference{
        &__info{
            background-color: #f5f5f5;
            height: 100%;
            width: 50px;
            width: 200px;
            overflow-x: auto;
            display: flex;
            flex-direction: column;
        }

        &__data{
            background-color: #fff;
            height: 100%;
        }

        &__settings{

            padding: 5px;
            min-width: 199px;

            &-title{
                font-weight: 600;
                padding-bottom: 5px;
                
            }

            &-data{
                border: 1px solid #d1d1d1;
                width: 100%;
                height: 325px;
                padding: 5px 15px;
                
            }

            &-item{
                display: flex;
                padding-bottom: 10px;
                justify-content: space-between;

                &.empty{
                    color: #8b8d8f;
                }
            }

            &-name{
                width: 116px;
                flex-shrink: 0;
            }

            &-value{
                width: 30px;
                flex-shrink: 0;
                text-align: right;
            }

        }

        &__description{
            padding: 5px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            &-title{
                font-weight: 600;
                padding-bottom: 5px;
            }

            &-data{
                border: 1px solid #d1d1d1;
                background: #fff;
                min-height: 150px;
                max-height: 292px;
                padding: 5px 15px;
                min-width: 189px;
                flex-grow: 1;
                overflow: auto;

                &.empty{
                    color: #8b8d8f;
                }

                &.disable{
                    background: transparent;
                }
            }
        }

        &__data{
            &-table{
                flex: 1 1 0px;
            }
            &-empty{
                .preference__data-message{
                    text-align: center;
                    padding: 26px 10px;
                    color: #363636;
                }
            }
        }

        &__table{
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            th{
                font-weight: 400;
                font-size: 12px;
                color: #8b8d8f;
                text-align: left;
                padding: 4px 20px;
                &:not(:last-child) {
                    border-right: 1px solid #d1d1d1;
                }

            }

            td{
                padding: 4px 20px;
            }

            tr{
                cursor: pointer;
            }

            tr.active{
                background-color: #f5f5f5;
            }
        }

        &__modal{
            position: relative;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: 0.5s all;
            z-index: 100;

            border: 1px solid #d1d1d1;
            background-color: #fff;
            border-radius: 3px;
            overflow: hidden;

            &.active{
                transform: translate(-50%, -50%) scale(1);
                transition: 0.5s all;
            }

            &-wrapper{
                width: 408px;
                // height: 284px;
            }

            &-header{
                background: #f5f5f5;
                border-bottom: 1px solid #d1d1d1;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .title{
                    font-weight: 600;
                    color: #363636;
                }

                .close{
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    cursor: pointer;
                    right: 12px;
                    top: 12px;
                    background-image: url(../../img/svg/close.svg);
                }

            }

            &-content{
                
            }

            &-tabs{
                height: 492px;

                &-big{
                    height: 560px; 
                }

                .tab-buttons{
                    display: flex;
                    height: 26px;
                    .preference__tab-button{
                        width: 50%;
                        height: 26px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &.active{
                            color: #297fb0;
                        }

                        &:not(.active){
                            background-color: #f5f5f5;
                            border-bottom: 1px solid #d1d1d1;
                            cursor: pointer;
                        }

                        &:first{
                            border-right: 1px solid #d1d1d1;
                        }

                        &:last-child{
                            border-left: 1px solid #d1d1d1;
                        }
                    }
                }

                .tab-content{
                    display: none;
                    
                    flex-direction: column;
                    height: calc(100% - 26px);

                    &.active{
                        padding: 20px;
                        display: flex;
                    }

                    .preferences-common{
                        display: flex;
                        flex-direction: column;
                        height: calc(100% - 26px);
                    }
                }
            }

            &-footer{
                height: 45px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: right;
                gap: 10px;
                padding: 0 20px;
                border-top: 1px solid #d1d1d1;
            }
        }
    }

    .preference__divider{
        width: 5px;
        height: 100%;
        display: flex;
        justify-content: center;

        cursor: col-resize;
        background: linear-gradient(to right, #f5f5f5 50%, #fff 50% 50%);
    }

}
