.btn{
    border: 1px solid #d1d1d1;
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &-oк{
        border: 1px solid #297FB0;
    }
}