*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    font-size: 12px;
}

.gp {
    &__container {
        width: 90%;
        height: 90vh;
        margin: 0 auto;
        margin-top: 5vh;
    }
}
