.gp {


    &__container {
        min-width: 1200px;
    }


    &__main {
        width: 100%;
        height: calc( 100% - 64px - 48px );
        display: flex;
    }

    &__search{
        width: 408px;
    }

    &__nav{
        padding: 0 5px;
        width: 206px;
    }

    &__control{
        padding: 0 16px;
        display: flex;
        gap: 20px;

        &-help{
            margin-left: auto;
        }

        &-admx{
            padding: 0 16px;
            display: flex;
            gap: 20px;  
        }
    }

    &__default-template,
    &__folder-template{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .default-template__message,
        .folder-template__message{
            text-align: center;
            padding-top: 10px;
            font-size: 14px;
            color: #e30b0b;
            font-weight: bold;
        }
    }
}

.gp__container{

    .tree-view {
        padding-top: 24px;
        padding-left: 24px;
        width: 432px;
        height: 100%;
        overflow: auto;

        ul{
            list-style-type: none;
            padding-left: 14px;
            li{
                padding-top: 8px;
                white-space: nowrap; 
            }
        }

        .tree-item{
            display: flex;
            align-items: center;
            height: 16px;
            cursor: pointer;
            transition: color 0.3s ease;
            &.active{
                color: #297FB0;
            }
        }

        .icon-switcher{
            background-image: url(../img/svg/arrow.svg);
            width: 12px;
            height: 10px;
            display: flex;
            margin-right: 8px;
            flex-shrink: 0;
            transition: transform 0.3s ease;
        }

        .icon{
            width: 16px;
            height: 16px;
            display: flex;
            margin-right: 8px;
            flex-shrink: 0;
            &.ico-computer{
                background-image: url(../img/svg/ico/computer.svg);
            }

            &.ico-folder{
                background-image: url(../img/svg/ico/folder.svg);
            }

            &.ico-user{
                background-image: url(../img/svg/ico/user.svg);
            }

            &.ico-file{
                background-image: url(../img/svg/ico/file.svg);
            }
        }


        .view.folder{
            display: grid;
            grid-template-rows: auto 1fr;
            transition: grid-template-rows 0.3s ease;

            > .tree-view__list{
                overflow: hidden;
                min-height: 0;
            }

            &.opened{
                grid-template-rows: auto 1fr;

                .icon-switcher{
                    transform: rotate(0deg);
                }
            }

            &.closed{
                grid-template-rows: auto 0fr;

                .icon-switcher{
                    transform: rotate(-90deg);
                }
            }
        }




    }

    .workspace{
        flex: 1 1 0px;

        .workspace-list-item{
            display: flex;
            align-items: center;
            height: 16px;
            cursor: pointer;
        }

        .icon{
            width: 16px;
            height: 16px;
            display: flex;
            margin-right: 8px;
            flex-shrink: 0;
            &.ico-computer{
                background-image: url(../img/svg/ico/computer.svg);
            }

            &.ico-folder{
                background-image: url(../img/svg/ico/folder.svg);
            }

            &.ico-user{
                background-image: url(../img/svg/ico/user.svg);
            }

            &.ico-file{
                background-image: url(../img/svg/ico/file.svg);
            }
        }
    }

    .divider{
        width: 5px;
        height: 100%;
        display: flex;
        justify-content: center;
        
        cursor: col-resize;

        &__line{
            background-color: #d1d1d1;
            width: 1px;
            height: 100%;
        }
    }

}
